.checked {
 	background-color: green;
}
.unchecked {
	background-color: yellow;
}
.mouse {
	cursor: pointer; cursor: hand;
}

div.tablewrapper {
	height: 560px;
	overflow-y: auto;
}

button.fix {
    width:75px;
    display:inline-block;
    text-align:center;
    cursor: pointer; cursor: hand;
}