<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="libs/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title></title>
</head>
<body ng-app="app">
	<div ng-controller ="AppCtrl as AppCtrl">
		<form ng-submit="AppCtrl.submit()">
   			<input type="text" placeholder="What needs to be done?" ng-model = "AppCtrl.todo.text"></input>
   			<button>Go!</button>
		</form>

		<div class = "tablewrapper">
			<table ng-repeat="todos in AppCtrl.todosPorDia | filter:AppCtrl.filterStateDay | orderBy:'dia':true">
			<!---<tr ng-repeat="ostodos in AppCtrl.todos | filter:AppCtrl.filterState | orderBy:'date':true">-->
				<tr>
					<th><u class = "mouse" ng-click="AppCtrl.changeTodos(todos.listaTodos,todos.todosChecked)">{{todos.dia | date:'dd, MMMM yyyy'}}</u></th>
				</tr>
				
				<tr ng-repeat="todo in todos.listaTodos | filter:AppCtrl.filterStateTodo | orderBy:'date':true">
					<td ng-class="{checked:todo.completed, unchecked:!todo.completed}">{{todo.text}}</td>
					<td> - {{todo.date | date: 'HH:mm'}}</td>
					<td><button class= "fix" ng-click="todo.completed = !todo.completed; AppCtrl.persist('todos', AppCtrl.todos)">{{todo.completed ? 'uncheck' : 'check'}}</button></td>
					<td><button class= "mouse" ng-click="AppCtrl.remove(todo)"><b><font color="red">x</font></b></button></td>
				</tr>
			</table>
		</div>
		
		<label ng-if="AppCtrl.todosPorOrganizar.length"><input type="radio" name="sex" value="All" ng-click="AppCtrl.filterStateTodo = {}; AppCtrl.filterStateDay = {}" >All</input></label>
		<label ng-if="AppCtrl.todosPorOrganizar.length"><input type="radio" name="sex" value="Active" ng-if="AppCtrl.todosPorOrganizar.length" ng-click="AppCtrl.filterStateTodo = {completed:false}; AppCtrl.filterStateDay = {todosChecked:false}">Active</input></label>
		<label ng-if="AppCtrl.todosPorOrganizar.length"><input type="radio" name="sex" value="Complete" ng-if="AppCtrl.todosPorOrganizar.length" ng-click="AppCtrl.filterStateTodo = {completed:true}; AppCtrl.filterStateDay = {todosUnchecked:false}">Complete</input></label>

		<p>
		<button ng-if="AppCtrl.todosPorOrganizar.length"; ng-click="AppCtrl.changeTodos(AppCtrl.todosPorOrganizar, AppCtrl.checkTodos)">{{AppCtrl.todosChecked() ? 'uncheck all' : 'check all'}}</button>

		<button ng-if="AppCtrl.howManyChecked()" ng-click="AppCtrl.clearCompleted()">Clear Completed</button>

		<ng-pluralize count="AppCtrl.howManyUnchecked()"
                 when="{'1': 'One item left!',
                     '2': 'Two items left!',
                     'other': 'Many items left!'}" ng-if="AppCtrl.todosPorOrganizar.length && !AppCtrl.todosChecked()">
		</ng-pluralize>
		</p>

	</div>
</body>
</html>