<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="libs/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title></title>
</head>
<body ng-app="app">
	<div ng-controller ="AppCtrl as AppCtrl">
		<form ng-submit="AppCtrl.submit()">
   			<input type="text" placeholder="What needs to be done?" ng-model = "AppCtrl.todo.text"></input>
   			<button>Go!</button>
		</form>

		<button ng-if="todosPorOrganizar.length"; ng-click="AppCtrl.changeTodos()">{{AppCtrl.todosChecked() ? 'uncheck all' : 'check all'}}</button>

		<div class = "tablewrapper">
			<table ng-repeat="todos in AppCtrl.todosPorDia | orderBy:'dia':true">
			<!---<tr ng-repeat="ostodos in AppCtrl.todos | filter:AppCtrl.filterState | orderBy:'date':true">-->
				<tr>
					<th><u>{{todos.dia | date: 'dd, MMMM yyyy'}}</u></th>
				</tr>
				
				<tr ng-repeat="todo in todos.listaTodos | filter:AppCtrl.filterState | orderBy:'date':true">
					<td ng-class="{checked:todo.completed, unchecked:!todo.completed}">{{todo.text}}</td>
					<td> - {{todo.date | date: 'HH:mm'}}</td>
					<td><button ng-click="todo.completed = !todo.completed; AppCtrl.persist('todos', AppCtrl.todos)">{{todo.completed ? 'uncheck' : 'check'}}</button></td>
					<td><button ng-click="AppCtrl.remove(todo)">x</button></td>
						
				</tr>
			</table>
		</div>
		
		<label ng-if="todosPorOrganizar.length"><input type="radio" name="sex" value="All" ng-click="AppCtrl.filterState = {}" >All</input></label>
		<label ng-if="todosPorOrganizar.length"><input type="radio" name="sex" value="Active" ng-if="todosPorOrganizar.length" ng-click="AppCtrl.filterState = {completed:false}">Active</input></label>
		<label ng-if="todosPorOrganizar.length"><input type="radio" name="sex" value="Complete" ng-if="todosPorOrganizar.length" ng-click="AppCtrl.filterState = {completed:true}">Complete</input></label>

		<p>
			<button ng-if="AppCtrl.howManyChecked()" ng-click="AppCtrl.clearCompleted()">Clear completed</button>
		</p>

		<ng-pluralize count="AppCtrl.howManyUnchecked()"
                 when="{'1': 'One item left!',
                     '2': 'Two items left!',
                     'other': 'Many items left!'}" ng-if="todosPorOrganizar.length && !AppCtrl.todosChecked()">
		</ng-pluralize>


		</div>

	</div>
</body>
</html>